.env
.env.*
docker-compose.ckan212-test.yml
ckan/requirements.2.12-test.txt
ckan/Dockerfile.2.12-test
ckan/config/ckan.ini.2.12-test.template
.vagrant
.vs
.mypy_cache
.cursor
.idea
.vscode
.crt
.key
certs/*.key 
certs/*.crt
nginx/certs/*.key
nginx/certs/*.crt
src_extensions/*